@font-face {
  font-family: "Droid-grid-regular";
  src: url("../fonts/droid-sans-v8-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Droid-grid-bold";
  src: url("../fonts/droid-sans-v8-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Arial-bold";
  src: url("../fonts/ArialBold.woff") format("woff");
}
@font-face {
  font-family: "Baroque Script";
  src: url("../fonts/BaroqueScript.woff") format("woff");
}
@font-face {
  font-family: "Sylfaen-grid";
  src: url("../fonts/Sylfaen.woff") format("woff");
}
body {
  margin: 0;
  padding: 0;
  font-family: "Droid-grid-regular";
}
figure {
  cursor: pointer;
  margin: 0;
}
.site-center {
  max-width: 940px;
  margin: 0 auto;
}
header {
  border-top: 1px solid #ff5555;
}
header .grid {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-column-gap: 20px;
}
header .grid .logo {
  padding: 5px 10px;
  background: #ff5555;
  text-align: center;
}
header .grid .logo figure {
  margin: 0 auto;
}
header .grid .logo h1 {
  color: #ffffff;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
}
header .grid .logo p {
  font-size: 12px;
  color: #ffffff;
  text-align: right;
  margin: 0;
}
header .grid .menu-header .menu-header-top .flex-header-top {
  display: flex;
  justify-content: space-between;
}
header .grid .menu-header .menu-header-top .flex-header-top .language {
  display: flex;
}
header .grid .menu-header .menu-header-top .flex-header-top .language > div {
  display: flex;
  margin-right: 10px;
}
header .grid .menu-header .menu-header-top figure {
  margin: 0 5px;
}
header .grid .menu-header .menu-header-top p {
  color: #666666;
  font-size: 12px;
  padding-top: 3px;
  margin: 0;
}
header .grid .menu-header .menu-header-top p span {
  color: #ff5151;
  margin-left: 5px;
}
header .grid .menu-header .menu-header-top .menu {
  display: flex;
  list-style: none;
  margin-top: 3px;
}
header .grid .menu-header .menu-header-top .menu li {
  border-right: 1px solid #666666;
  padding: 0 10px;
}
header .grid .menu-header .menu-header-top .menu li:last-child {
  border: none;
}
header .grid .menu-header .menu-header-top .menu li a {
  text-decoration: none;
  color: #666666;
  font-size: 12px;
}
header .grid .menu-header .menu-header-top .menu li a:hover {
  color: #ff5151;
}
header .grid .menu-header .separator {
  height: 1px;
  border-top: 1px solid #e7e7e7;
}
header .grid .menu-header .menu-header-bottom {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 59px;
  background: #fcfcfc;
}
header .grid .menu-header .menu-header-bottom div {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  padding: 3px;
}
header .grid .menu-header .menu-header-bottom div a:hover .block-hover-bascket {
  display: block;
}
header .grid .menu-header .menu-header-bottom div .block-hover-bascket {
  display: none;
  position: absolute;
  z-index: 1;
  padding: 10px;
  right: 10px;
  min-width: 293px;
  min-height: 304px;
  background: #ffffff;
  border-top: 4px solid #fe5252;
}
header .grid .menu-header .menu-header-bottom div .block-hover-bascket > div {
  width: 290px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #e7e7e7;
}
header .grid .menu-header .menu-header-bottom div .block-hover-bascket > div:nth-child(3) {
  border-bottom: none;
}
header .grid .menu-header .menu-header-bottom div .block-hover-bascket > div:nth-child(4) {
  border-bottom: none;
}
header .grid .menu-header .menu-header-bottom div .block-hover-bascket > div:nth-child(5) {
  border-bottom: none;
}
header .grid .menu-header .menu-header-bottom div .block-hover-bascket .buttons {
  display: flex;
  margin-top: 10px;
}
header .grid .menu-header .menu-header-bottom div .block-hover-bascket .buttons .buttons-right {
  font-size: 11px;
  background: #d0d0d0;
  border: none;
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 2px 10px;
}
header .grid .menu-header .menu-header-bottom div .block-hover-bascket .buttons .buttons-right:hover {
  background: #e7e7e7;
}
header .grid .menu-header .menu-header-bottom div .block-hover-bascket .btn {
  font-size: 11px;
  margin-right: 45px;
}
header .grid .menu-header .menu-header-bottom div .block-hover-bascket .total {
  background: #f7f7f7;
}
header .grid .menu-header .menu-header-bottom div .block-hover-bascket .total p {
  border: none;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
}
header .grid .menu-header .menu-header-bottom div .block-hover-bascket .total span {
  font-size: 20px;
  color: #fe5252;
}
header .grid .menu-header .menu-header-bottom div .block-hover-bascket p {
  color: #898989;
  font-size: 12px;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  margin: 0;
  text-align: center;
  padding: 5px;
}
header .grid .menu-header .menu-header-bottom div .block-hover-bascket div .description {
  display: flex;
  flex-direction: column;
  justify-items: start;
  margin-right: 70px;
}
header .grid .menu-header .menu-header-bottom div .block-hover-bascket div .description .bold {
  text-transform: uppercase;
  font-size: 11px;
  color: #666666;
  border: none;
  font-weight: bold;
  width: 100%;
}
header .grid .menu-header .menu-header-bottom div .block-hover-bascket div .description p {
  border: none;
  text-align: left;
  padding: 2px;
}
header .grid .menu-header .menu-header-bottom div .block-hover-bascket div .description p span {
  color: #ff5151;
}
header .grid .menu-header .menu-header-bottom div .block-hover-bascket div .price {
  display: flex;
  flex-direction: column;
}
header .grid .menu-header .menu-header-bottom div .block-hover-bascket div .price .bold {
  color: #666666;
  border: none;
  font-weight: bold;
  padding: 0;
}
header .grid .menu-header .menu-header-bottom div .block-hover-bascket div .price figure {
  margin-top: 10px;
}
header .grid .menu-header .menu-header-bottom div .block-hover-search {
  display: none;
  position: absolute;
  top: 80px;
  right: 50px;
  z-index: 2;
  min-width: 235px;
  background: #ffffff;
  padding: 10px 20px;
  border-top: 3px solid #fe5252;
}
header .grid .menu-header .menu-header-bottom div .block-hover-search input[type="text"] {
  color: #b2b2b2;
  padding: 10px 15px;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  height: 33px;
}
header .grid .menu-header .menu-header-bottom div figure {
  margin: 5px;
}
header .grid .menu-header .menu-header-bottom div .search-hover:hover .block-hover-search {
  display: flex;
}
header .grid .menu-header .menu-header-bottom div p {
  font-size: 12px;
  color: #636363;
  margin: 0;
}
header .grid .menu-header .menu-header-bottom nav .menu {
  position: relative;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 5px;
}
header .grid .menu-header .menu-header-bottom nav .menu li {
  padding: 15px 17px;
}
header .grid .menu-header .menu-header-bottom nav .menu li:hover {
  background: #ffffff;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 4px #f1f1f1;
}
header .grid .menu-header .menu-header-bottom nav .menu li:hover .block-hover {
  display: flex;
}
header .grid .menu-header .menu-header-bottom nav .menu li a {
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #636363;
  font-family: "Droid-grid-bold";
}
header .grid .menu-header .menu-header-bottom nav .menu li a:hover {
  color: #ff5151;
}
header .grid .menu-header .menu-header-bottom nav .menu li .block-hover {
  display: none;
  position: absolute;
  z-index: 2;
  top: 47px;
  left: 146px;
  background: #ffffff;
}
header .grid .menu-header .menu-header-bottom nav .menu li .block-hover .hover-menu {
  list-style: none;
  padding: 0;
  width: 152px;
  border-right: 2px solid #f1f0f0;
}
header .grid .menu-header .menu-header-bottom nav .menu li .block-hover .hover-menu:last-child {
  border: none;
}
header .grid .menu-header .menu-header-bottom nav .menu li .block-hover .hover-menu li {
  padding: 0 20px 5px;
}
header .grid .menu-header .menu-header-bottom nav .menu li .block-hover .hover-menu li:hover {
  border-radius: inherit;
  box-shadow: none;
}
header .grid .menu-header .menu-header-bottom nav .menu li .block-hover .hover-menu li a {
  font-size: 11px;
  color: #727272;
  text-transform: none;
  font-family: "Droid-grid-regular";
}
header .grid .menu-header .menu-header-bottom nav .menu li .block-hover .hover-menu li a:hover {
  color: #ff5151;
  padding-left: 10px;
}
.second-menu {
  border-top: 2px solid #e6e6e6;
  background: #f4f4f4;
}
.second-menu .site-center ul {
  list-style: none;
  margin: 0;
  display: flex;
  padding: 10px 0;
}
.second-menu .site-center ul li {
  padding-right: 5px;
}
.second-menu .site-center ul li a {
  text-decoration: none;
  font-size: 13px;
  color: #686868;
}
.second-menu .site-center ul li a:hover {
  color: #ff5151;
}
.grid-container-first {
  display: grid;
  grid-template-columns: 203px 1fr;
  grid-column-gap: 30px;
  margin-top: 38px;
}
.grid-container-first .category .list-category {
  position: relative;
}
.grid-container-first .category .list-category p {
  color: #4b4b4b;
  font-size: 13px;
  border-bottom: 1px solid #efefef;
  padding-bottom: 5px;
  margin: 0;
}
.grid-container-first .category .list-category ul {
  padding: 10px 16px;
  color: #b9b9b9;
  list-style-type: square;
}
.grid-container-first .category .list-category ul li {
  padding: 0 0 10px;
  font-size: 12px;
}
.grid-container-first .category .list-category ul li a {
  color: #666666;
  text-decoration: none;
}
.grid-container-first .category .list-category ul li:hover {
  padding-left: 5px;
}
.grid-container-first .category .list-category ul li:hover a {
  color: #fe5252;
}
.grid-container-first .category .list-category .best-seller {
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px dashed #dddddd;
  margin-top: 15px;
}
.grid-container-first .category .list-category .best-seller .fantasy-dress {
  padding-left: 10px;
}
.grid-container-first .category .list-category .best-seller .fantasy-dress p {
  border: none;
  width: 140px;
  margin: 0;
}
.grid-container-first .category .list-category .best-seller .fantasy-dress .stairs {
  display: flex;
}
.grid-container-first .category .list-category .best-seller .fantasy-dress .price {
  color: #fe5252;
  padding-top: 5px;
}
.grid-container-first .category .list-category .border-none {
  border: none;
}
.grid-container-first .category .list-category .last-figure {
  margin-top: 30px;
}
.grid-container-first .category .list-category .button-shop-now {
  position: absolute;
  bottom: 40px;
  left: 55px;
  background: #fe6b6b;
  border-radius: 3px;
  width: 81px;
}
.grid-container-first .category .list-category .button-shop-now a {
  padding: 15px;
  font-size: 11px;
  color: #ffffff;
}
.grid-container-first .content-header {
  display: grid;
  grid-template-columns: 1fr;
}
.grid-container-first .content-header .fashion-winter:hover {
  cursor: pointer ;
}
.grid-container-first .content-header .navigation {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid #e9e9e9;
  margin-top: 33px;
}
.grid-container-first .content-header .navigation .images {
  display: flex;
}
.grid-container-first .content-header .navigation .images figure {
  margin-right: 5px;
}
.grid-container-first .content-header .navigation .sort-by {
  color: #666666;
  font-size: 11px;
}
.grid-container-first .content-header .navigation .sort-by form label {
  margin-right: 5px;
}
.grid-container-first .content-header .navigation .sort-by form select {
  color: #666666;
  font-size: 11px;
  margin-right: 18px;
}
.grid-container-first .content-header .navigation .pages {
  display: flex;
  align-items: center;
}
.grid-container-first .content-header .navigation .pages a {
  color: #898989;
  font-size: 12px;
  padding-right: 10px;
  text-decoration: none;
}
.grid-container-first .content-header .navigation .pages a:hover {
  color: #fe5252;
}
.grid-container-first .content-header .navigation .pages div {
  width: 20px;
  height: 20px;
  background: #ebebeb;
  border-radius: 50%;
}
.grid-container-first .content-header .navigation .pages div:hover {
  background: #fe5252;
  cursor: pointer;
}
.grid-container-first .content-header .navigation .pages div figure img {
  margin-left: 5px;
  margin-bottom: 5px;
}
.grid-container-first .content-header .the-fashion-for-winter-first {
  display: flex;
  height: 270px;
  border-bottom: 1px dotted #e1e1e1;
}
.grid-container-first .content-header .the-fashion-for-winter-first .description-winter {
  padding: 20px 46px;
}
.grid-container-first .content-header .the-fashion-for-winter-first .description-winter .caption {
  font-size: 18px;
  text-transform: uppercase;
  color: #555555;
  margin: 0;
}
.grid-container-first .content-header .the-fashion-for-winter-first .description-winter .stairs-winter {
  display: flex;
  align-items: flex-end;
}
.grid-container-first .content-header .the-fashion-for-winter-first .description-winter .stairs-winter p {
  font-size: 10px;
  color: #898989;
  margin: 0;
  padding-left: 11px;
}
.grid-container-first .content-header .the-fashion-for-winter-first .description-winter p {
  font-size: 12px;
  color: #898989;
  margin: 10px 0;
}
.grid-container-first .content-header .the-fashion-for-winter-first .description-winter .price {
  display: flex;
}
.grid-container-first .content-header .the-fashion-for-winter-first .description-winter .price span {
  font-size: 25px;
  color: #fe5252;
  font-family: "Droid-grid-bold";
  padding-right: 19px;
  border-right: 1px solid #d7d7d7;
}
.grid-container-first .content-header .the-fashion-for-winter-first .description-winter .price .first {
  font-size: 20px;
  color: #988989;
  padding-right: 10px;
  border-right: none;
  margin-top: 5px;
  text-decoration: line-through;
  font-family: "Droid-grid-regular";
}
.grid-container-first .content-header .the-fashion-for-winter-first .description-winter .price .add-to-card {
  display: flex;
  padding-left: 18px;
}
.grid-container-first .content-header .the-fashion-for-winter-first .description-winter .price .add-to-card p {
  margin-top: 10px;
  margin-bottom: 0;
  padding-left: 5px;
}
.grid-container-first .content-header .the-fashion-for-winter-first .description-winter .email-to-friend {
  display: flex;
  margin-top: 13px;
  border-top: 1px dotted #e1e1e1;
}
.grid-container-first .content-header .the-fashion-for-winter-first .description-winter .email-to-friend .compare {
  display: flex;
  align-items: flex-end;
  margin-right: 40px;
}
.grid-container-first .content-header .the-fashion-for-winter-first .description-winter .email-to-friend .compare p {
  padding-top: 20px;
  margin: 0;
  width: 95px;
  padding-left: 5px;
}
.grid-container-first .content-header .top-min {
  margin: 0px;
  border-bottom: none;
}
.caption-services {
  font-size: 15px;
  color: #4c4c4c;
  text-transform: uppercase;
  padding: 36px 0 10px 0;
  border-bottom: 1px solid #ffffff;
}
.service {
  background: #efefef;
}
.service .grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.service .grid-container .newsletter .caption {
  font-size: 15px;
  color: #4c4c4c;
  text-transform: uppercase;
  padding: 36px 0 10px 0;
  border-bottom: 1px solid #ffffff;
}
.service .grid-container .newsletter .descriptions {
  font-size: 11px;
  line-height: 16px;
  color: #6f6f6f;
}
.service .grid-container .newsletter form {
  display: flex;
}
.service .grid-container .newsletter form input {
  width: 140px;
  height: 25px;
  font-size: 11px;
  font-style: italic;
  padding: 5px;
  color: #cdcdcd;
}
.service .grid-container .information {
  margin-left: 24px;
}
.service .grid-container .information .caption {
  font-size: 15px;
  color: #4c4c4c;
  text-transform: uppercase;
  padding: 36px 0 10px 0;
  border-bottom: 1px solid #ffffff;
}
.service .grid-container .information .menu {
  list-style-type: square;
  color: #6f6f6f;
  font-size: 11px;
  padding-left: 5px;
}
.service .grid-container .information .menu li a {
  color: #6f6f6f;
  line-height: 25px;
  text-decoration: none;
}
.service .grid-container .information .menu li:hover a {
  color: #fe5252;
  padding-left: 5px;
}
.service .grid-container .information number {
  color: #6f6f6f;
  font-size: 13px;
  font-family: "Baroque Script";
}
.service .grid-container .information .credit-cards {
  display: grid;
  margin-top: 18px;
  grid-template-columns: repeat(4, 1fr);
}
footer {
  min-height: 54px;
  background: #292929;
}
footer .site-center .flex-container {
  min-height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .site-center .flex-container p {
  margin: 0;
  font-size: 12px;
  color: #898989;
}
footer .site-center .flex-container p span {
  color: #fe5858;
}
footer .site-center .flex-container .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
footer .site-center .flex-container .menu li {
  padding-left: 25px;
}
/*styles for phone*/
@media screen and (max-width: 667px) {
  header {
    width: 100%;
  }
  header .grid {
    grid-template-columns: 1fr;
  }
  header .grid .logo {
    width: 100%;
    text-align: left;
  }
  header .grid .logo p {
    text-align: left;
    font-size: 15px;
    margin-left: 80px;
  }
  header .grid .logo h1 {
    font-size: 48px;
  }
  header .grid .menu-header .menu-header-top {
    width: 100%;
  }
  header .grid .menu-header .menu-header-top .flex-header-top {
    flex-direction: column;
  }
  header .grid .menu-header .menu-header-top .flex-header-top .language p {
    font-size: 18px;
  }
  header .grid .menu-header .menu-header-top .flex-header-top .language figure {
    margin: 5px;
  }
  header .grid .menu-header .menu-header-top .flex-header-top .menu {
    margin: 0;
    padding: 5px;
  }
  header .grid .menu-header .menu-header-top .flex-header-top .menu li {
    padding: 0 5px;
  }
  header .grid .menu-header .menu-header-top .flex-header-top .menu li a {
    font-size: 17px;
  }
  header .grid .menu-header .menu-header-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  header .grid .menu-header .menu-header-bottom nav .menu {
    display: flex;
    flex-direction: column;
  }
  header .grid .menu-header .menu-header-bottom nav .menu li {
    padding: 5px 15px;
  }
  header .grid .menu-header .menu-header-bottom nav .menu li .block-hover {
    flex-direction: column;
    top: 68px;
    left: 85px;
    max-height: 220px;
    width: 200px;
    overflow: scroll;
    padding: 0;
  }
  header .grid .menu-header .menu-header-bottom nav .menu li .block-hover .hover-menu {
    border: none;
  }
  header .grid .menu-header .menu-header-bottom nav .menu li .block-hover .hover-menu li {
    padding: 0;
  }
  header .grid .menu-header .menu-header-bottom nav .menu li .block-hover .hover-menu li a {
    font-size: 16px;
  }
  header .grid .menu-header .menu-header-bottom div {
    display: flex;
    justify-content: flex-start;
    padding: 0 15px;
  }
  .second-menu {
    width: 100%;
  }
  .second-menu .site-center ul {
    padding: 10px 20px;
  }
  .second-menu .site-center ul li a {
    font-size: 24px;
  }
  .grid-container-first {
    grid-template-columns: 1fr;
    margin-top: 10px;
  }
  .grid-container-first .category .list-category p {
    font-size: 24px;
    padding-left: 10px;
  }
  .grid-container-first .category .list-category nav {
    padding: 10px 30px;
  }
  .grid-container-first .category .list-category nav ul li {
    font-size: 24px;
  }
  .grid-container-first .category .list-category .best-seller .fantasy-dress p {
    width: 100%;
  }
  .grid-container-first .category .list-category .last-figure {
    padding-left: 60px;
  }
  .grid-container-first .category .list-category .button-shop-now {
    left: 115px;
  }
  .grid-container-first .content-header .navigation {
    flex-direction: column;
    margin-top: 10px;
    padding-left: 10px;
  }
  .grid-container-first .content-header .navigation .sort-by {
    font-size: 24px;
  }
  .grid-container-first .content-header .navigation .sort-by form select {
    font-size: 24px;
  }
  .grid-container-first .content-header .navigation .pages a {
    padding-right: 60px;
    font-size: 24px;
  }
  .grid-container-first .content-header .navigation .pages div figure img {
    margin-top: -5px;
    margin-left: 5px;
  }
  .grid-container-first .content-header .fashion-winter {
    display: none;
  }
  .grid-container-first .content-header .the-fashion-for-winter-first {
    flex-direction: column;
    height: auto;
  }
  .grid-container-first .content-header .the-fashion-for-winter-first > div {
    padding: 20px 60px;
  }
  .grid-container-first .content-header .the-fashion-for-winter-first .description-winter {
    padding: 20px 30px;
  }
  .grid-container-first .content-header .the-fashion-for-winter-first .description-winter p {
    width: 100%;
    font-size: 14px;
  }
  .grid-container-first .content-header .the-fashion-for-winter-first .description-winter .email-to-friend {
    flex-direction: column;
  }
  .grid-container-first .content-header .the-fashion-for-winter-first .description-winter .email-to-friend .compare p {
    width: 100%;
    font-size: 18px;
  }
  .service {
    padding-bottom: 15px;
  }
  .service .grid-container {
    grid-template-columns: 1fr;
  }
  .service .grid-container .newsletter {
    padding: 10px;
  }
  .service .grid-container .newsletter .caption {
    padding: 0;
  }
  .service .grid-container .newsletter .descriptions {
    font-size: 18px;
    line-height: 22px;
  }
  .service .grid-container .newsletter form input {
    width: 100%;
  }
  .service .grid-container .information {
    padding-left: 50px;
  }
  .service .grid-container .information .caption {
    padding: 0;
    width: 70%;
  }
  .service .grid-container .information .menu {
    width: 70%;
    font-size: 18px;
  }
  footer .site-center .flex-container {
    flex-direction: column;
    justify-content: flex-start;
  }
}
/*styles for tablets*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header .grid {
    grid-template-columns: 1fr;
  }
  header .grid .logo p {
    text-align: center;
  }
  header .grid .menu-header .menu-header-top p {
    font-size: 16px;
    padding: 10px;
    margin: 0;
  }
  header .grid .menu-header .menu-header-top figure {
    margin: 10px;
  }
  header .grid .menu-header .menu-header-top .menu {
    padding: 10px;
  }
  header .grid .menu-header .menu-header-top .menu li a {
    font-size: 16px;
  }
  .second-menu .site-center ul {
    padding: 10px 20px;
  }
  .second-menu .site-center ul li a {
    font-size: 24px;
  }
  .grid-container-first {
    grid-template-columns: 1fr;
    margin-top: 10px;
  }
  .grid-container-first .category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-container-first .category .list-category {
    padding-left: 20px;
  }
  .grid-container-first .category .list-category p {
    font-size: 18px;
  }
  .grid-container-first .category .list-category ul li {
    font-size: 22px;
  }
  .grid-container-first .category .list-category .last-figure {
    display: none;
  }
  .grid-container-first .category .list-category .button-shop-now {
    display: none;
  }
  .grid-container-first .content-header .fashion-winter {
    display: flex;
  }
  .grid-container-first .content-header .navigation {
    justify-content: space-around;
    margin-top: 15px;
  }
  .grid-container-first .content-header .navigation .pages div figure img {
    margin-left: 5px;
    margin-bottom: 8px;
  }
  .grid-container-first .content-header .sales {
    padding-left: 20px;
  }
  .service .grid-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
  }
  .service .grid-container .newsletter .caption {
    padding: 0;
  }
  .service .grid-container .newsletter .descriptions {
    font-size: 15px;
  }
  .service .grid-container .information .caption {
    font-size: 15px;
    padding: 0;
  }
  .service .grid-container .information .menu {
    font-size: 15px;
  }
}
