@font-face {
  font-family: "Droid-grid-regular";
  src: url("../fonts/droid-sans-v8-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Droid-grid-bold";
  src: url("../fonts/droid-sans-v8-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Arial-bold";
  src: url("../fonts/ArialBold.woff") format("woff");
}

@font-face {
  font-family: "Baroque Script";
  src: url("../fonts/BaroqueScript.woff") format("woff");
}

@font-face {
  font-family: "Sylfaen-grid";
  src: url("../fonts/Sylfaen.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Droid-grid-regular";
}

figure {
  cursor: pointer;
  margin: 0;
}

@main-text-color: #666666;

.site-center {
  max-width: 940px;
  margin: 0 auto;
}

header {
  border-top: 1px solid #ff5555;
  .grid {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-column-gap: 20px;
    .logo {
      padding: 5px 10px;
      background: #ff5555;
      text-align: center;
      figure {
        margin: 0 auto;
      }
      h1 {
        color: #ffffff;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: normal;
        margin: 0;
      }
      p {
        font-size: 12px;
        color: #ffffff;
        text-align: right;
        margin: 0;
      }
    }
    .menu-header {
      .menu-header-top {
        .flex-header-top {
          display: flex;
          justify-content: space-between;
          .language {
            display: flex;
            > div {
              display: flex;
              margin-right: 10px;
            }
          }
        }
        figure {
          margin: 0 5px;
        }
        p {
          color: @main-text-color;
          font-size: 12px;
          padding-top: 3px;
          margin: 0;
          span {
            color: #ff5151;
            margin-left: 5px;
          }
        }
        .menu {
          display: flex;
          list-style: none;
          margin-top: 3px;
          li {
            border-right: 1px solid @main-text-color;
            padding: 0 10px;
            &:last-child {
              border: none;
            }
            a {
              text-decoration: none;
              color: @main-text-color;
              font-size: 12px;
              &:hover {
                color: #ff5151;
              }
            }
          }
        }
      }
      .separator {
        height: 1px;
        border-top: 1px solid #e7e7e7;
      }
      .menu-header-bottom {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 59px;
        background: #fcfcfc;
        div {
          display: flex;
          position: relative;
          align-items: center;
          justify-content: flex-end;
          padding: 3px;
          a {
            &:hover {
              .block-hover-bascket {
                display: block;
              }
            }
          }
          .block-hover-bascket {
            display: none;
            position: absolute;
            z-index: 1;
            padding: 10px;
            right: 10px;
            min-width: 293px;
            min-height: 304px;
            background: #ffffff;
            border-top: 4px solid #fe5252;
            > div {
              width: 290px;
              display: flex;
              justify-content: space-between;
              border-bottom: 1px dashed #e7e7e7;
              &:nth-child(3) {
                border-bottom: none;
              }
              &:nth-child(4) {
                border-bottom: none;
              }
              &:nth-child(5) {
                border-bottom: none;
              }
            }
            .buttons {
              display: flex;
              margin-top: 10px;
              .buttons-right {
                font-size: 11px;
                background: #d0d0d0;
                border: none;
                display: flex;
                align-items: center;
                margin-left: 10px;
                padding: 2px 10px;
                &:hover {
                  background: #e7e7e7;
                }
              }
            }
            .btn {
              font-size: 11px;
              margin-right: 45px;
            }
            .total {
              background: #f7f7f7;
              p {
                border: none;
                text-align: left;
                font-size: 12px;
                font-weight: bold;
              }
              span {
                font-size: 20px;
                color: #fe5252;
              }
            }
            p {
              color: #898989;
              font-size: 12px;
              width: 100%;
              border-bottom: 1px solid #e7e7e7;
              margin: 0;
              text-align: center;
              padding: 5px;
            }
            div {
              .description {
                display: flex;
                flex-direction: column;
                justify-items: start;
                margin-right: 70px;
                .bold {
                  text-transform: uppercase;
                  font-size: 11px;
                  color: #666666;
                  border: none;
                  font-weight: bold;
                  width: 100%;
                }
                p {
                  border: none;
                  text-align: left;
                  padding: 2px;
                  span {
                    color: #ff5151;
                  }
                }
              }
              .price {
                display: flex;
                flex-direction: column;
                .bold {
                  color: #666666;
                  border: none;
                  font-weight: bold;
                  padding: 0;
                }
                figure {
                  margin-top: 10px;
                }
              }
            }
          }
          .block-hover-search {
            display: none;
            position: absolute;
            top: 80px;
            right: 50px;
            z-index: 2;
            min-width: 235px;
            background: #ffffff;
            padding: 10px 20px;
            border-top: 3px solid #fe5252;
            input[type="text"] {
              color: #b2b2b2;
              padding: 10px 15px;
              border: 1px solid #f2f2f2;
              border-radius: 3px;
              height: 33px;
            }
          }
          figure {
            margin: 5px;
          }
          .search-hover {
            &:hover .block-hover-search {
              display: flex;
            }
          }
          p {
            font-size: 12px;
            color: #636363;
            margin: 0;
          }
        }
        nav {
          .menu {
            position: relative;
            display: flex;
            list-style: none;
            padding: 0;
            margin: 5px;
            li {
              padding: 15px 17px;
              &:hover {
                background: #ffffff;
                border-radius: 0 0 5px 5px;
                box-shadow: 0 0 4px #f1f1f1;
                .block-hover {
                  display: flex;
                }
              }
              a {
                font-size: 15px;
                text-decoration: none;
                text-transform: uppercase;
                color: #636363;
                font-family: "Droid-grid-bold";
                &:hover {
                  color: #ff5151;
                }
              }
              .block-hover {
                display: none;
                position: absolute;
                z-index: 2;
                top: 47px;
                left: 146px;
                background: #ffffff;
                .hover-menu {
                  list-style: none;
                  padding: 0;
                  width: 152px;
                  border-right: 2px solid #f1f0f0;
                  &:last-child {
                    border: none;
                  }
                  li {
                    padding: 0 20px 5px;
                    &:hover {
                      border-radius: inherit;
                      box-shadow: none;
                    }
                    a {
                      font-size: 11px;
                      color: #727272;
                      text-transform: none;
                      font-family: "Droid-grid-regular";
                      &:hover {
                        color: #ff5151;
                        padding-left: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.second-menu {
  border-top: 2px solid #e6e6e6;
  background: #f4f4f4;
    .site-center {
      ul {
        list-style: none;
        margin: 0;
        display: flex;
        padding: 10px 0;
          li {
            padding-right: 5px;
              a {
                text-decoration: none;
                font-size: 13px;
                color: #686868;
                  &:hover {
                    color: #ff5151;
                  }
              }
          }
      }
    }
}
.grid-container-first {
  display: grid;
  grid-template-columns:203px 1fr;
  grid-column-gap: 30px;
  margin-top: 38px;
  .category {
    .list-category {
      position: relative;
      p {
        color: #4b4b4b;
        font-size: 13px;
        border-bottom: 1px solid #efefef;
        padding-bottom: 5px;
        margin: 0;
      }
      ul {
        padding: 10px 16px;
        color: #b9b9b9;
        list-style-type: square;
        li {
          padding: 0 0 10px;
          font-size: 12px;
          a {
            color: #666666;
            text-decoration: none;
          }
          &:hover {
            padding-left: 5px;
            a {
              color: #fe5252;
            }
          }
        }
      }
      .best-seller {
        display: flex;
        padding-bottom: 15px;
        border-bottom: 1px dashed #dddddd;
        margin-top: 15px;
        .fantasy-dress {
          padding-left: 10px;
          p {
            border: none;
            width: 140px;
            margin: 0;
          }
          .stairs {
            display: flex;
          }
          .price {
            color: #fe5252;
            padding-top: 5px;
          }
        }
      }
      .border-none {
        border: none;
      }
      .last-figure {
        margin-top: 30px;
      }
      .button-shop-now {
        position: absolute;
        bottom: 40px;
        left: 55px;
        background: #fe6b6b;
        border-radius: 3px;
        width: 81px;
        a {
          padding: 15px;
          font-size: 11px;
          color: #ffffff;
        }
      }
    }
  }
  .content-header {
    display: grid;
    grid-template-columns: 1fr;
      .fashion-winter {
        figure {
          position: relative;
          p {
            color: #ffffff;
            margin: 0;
            text-transform: uppercase;
              &:hover {
                color: #ff5555;
              }
          }
          .main {
            transform: rotate(0deg);
            font-size: 20px;
            font-family: "Droid-grid-bold";
            width: 256px;
            position: absolute;
            bottom: 10px;
            left: 20px;
          }

          .new-products {
            border: 1px solid #f2f2f2;
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
    .navigation {
      display: flex;
      justify-content: space-between;
      padding-bottom: 5px;
      border-bottom: 1px solid #e9e9e9;
      margin-top: 33px;
        .images {
          display: flex;
            figure {
              margin-right: 5px;
            }
        }
        .sort-by {
          color: #666666;
          font-size: 11px;
            form {
              label {
                margin-right: 5px;
              }
              select {
                color: #666666;
                font-size: 11px;
                margin-right: 18px;
              }
            }
        }
        .pages {
          display: flex;
          align-items: center;
            a {
              color: #898989;
              font-size: 12px;
              padding-right: 10px;
              text-decoration: none;
                &:hover {
                  color: #fe5252;
                }
            }
            div {
              width: 20px;
              height: 20px;
              background: #ebebeb;
              border-radius: 50%;
              &:hover {
                background: #fe5252;
                cursor: pointer;
              }
                figure {
                  img {
                    margin-left: 5px;
                    margin-bottom: 5px;
                  }
                }
            }
        }
    }
    .sales {
      margin-top: 24px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 7px;
      .hover-image {
        position: relative;
        figure {
          margin: 0;
          &:hover .hover-block-model {
            display: flex;
          }
        }
        img {
          width: 226px;
          height: 284px;
        }
        .hover-block-model {
          display: none;
          position: absolute;
          z-index: 3;
          top: 190px;
          flex-direction: column;
          align-items: center;
          .price {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #fe7272;
            width: 69px;
            height: 69px;
            border-radius: 50%;
            p {
              font-size: 15px;
              font-weight: bold;
              margin: 0;
              color: #ffffff;
            }
          }
          .block-white {
            background: #ffffff;
            width: 225px;
            margin-top: -10px;
            p {
              color: #666666;
              text-transform: uppercase;
              text-align: center;
              margin: 0;
            }
            .stairs {
              display: flex;
              justify-content: center;
              border-bottom: 1px solid #efefef;
              img {
                margin-right: 5px;
                width: 13px;
                height: 13px;
              }
            }
            .block-white-bottom {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              padding: 10px;
              .left {
                display: flex;
                align-items: flex-end;
                border-right: 1px solid #efefef;
                img {
                  width: 29px;
                  height: 26px;
                }
                p {
                  color: #898989;
                  text-align: left;
                  font-size: 11px;
                  text-transform: none;
                  margin-left: 5px;
                }
              }
              .right {
                p {
                  color: #898989;
                  text-align: left;
                  font-size: 11px;
                  text-transform: none;
                  margin-left: 5px;
                  &:hover {
                    cursor: pointer;
                  }
                  span {
                    color: #ff5151;
                  }
                }
              }
            }
          }
        }
        &:hover .hover-block-model {
          display: flex;
        }
      }
    }
    .top-min {
      margin-top: 9px;
      border-bottom: none;
    }
  }
}

.caption-services {
  font-size: 15px;
  color: #4c4c4c;
  text-transform: uppercase;
  padding: 36px 0 10px 0;
  border-bottom: 1px solid #ffffff;
}

.service {
  background: #efefef;
  .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    .newsletter {
      .caption {
        .caption-services;
      }
      .descriptions {
        font-size: 11px;
        line-height: 16px;
        color: #6f6f6f;
      }
      form {
        display: flex;
        input {
          width: 140px;
          height: 25px;
          font-size: 11px;
          font-style: italic;
          padding: 5px;
          color: #cdcdcd;
        }
      }
    }
    .information {
      margin-left: 24px;
      .caption {
        .caption-services;
      }
      .menu {
        list-style-type: square;
        color: #6f6f6f;
        font-size: 11px;
        padding-left: 5px;
        li {
          a {
            color: #6f6f6f;
            line-height: 25px;
            text-decoration: none;
          }
          &:hover {
            a {
              color: #fe5252;
              padding-left: 5px;
            }
          }
        }
      }
      number {
        color: #6f6f6f;
        font-size: 13px;
        font-family: "Baroque Script";
      }
      .credit-cards {
        display: grid;
        margin-top: 18px;
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

footer {
  min-height: 54px;
  background: #292929;
  .site-center {
    .flex-container {
      min-height: 54px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        margin: 0;
        font-size: 12px;
        color: #898989;
        span {
          color: #fe5858;
        }
      }
      .menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        li {
          padding-left: 25px;
        }
      }
    }
  }
}

/*styles for iphone 6*/
@media  screen and (max-width: 667px) {
  header {
    width: 100%;
    .grid {
      grid-template-columns: 1fr;
      .logo {
        width: 100%;
        text-align: left;
        p {
          text-align: left;
          font-size: 15px;
          margin-left: 80px;
        }
        h1 {
          font-size: 48px;
        }
      }
      .menu-header {
        .menu-header-top {
          width: 100%;
          .flex-header-top {
            flex-direction: column;
            .language {
              p {
                font-size: 18px;
              }
              figure {
                margin: 5px;
              }
            }
            .menu {
              margin: 0;
              padding: 5px;
              li {
                padding: 0 5px;
                a {
                  font-size: 17px;
                }
              }
            }
          }
        }
        .menu-header-bottom {
          width: 100%;
          display: flex;
          flex-direction: column;
          nav {
            .menu {
              display: flex;
              flex-direction: column;
              li {
                padding: 5px 15px;
                .block-hover {
                  flex-direction: column;
                  top: 68px;
                  left: 85px;
                  max-height: 220px;
                  width: 200px;
                  overflow: scroll;
                  padding: 0;
                  .hover-menu {
                    border: none;
                    li {
                      padding: 0;
                      a {
                        font-size: 16px;
                      }
                    }
                  }
                }

              }
            }
          }
          div {
            display: flex;
            justify-content: flex-start;
            padding: 0 15px;
              .block-hover-bascket {
                width: 100%;
                right: 0;
              }
          }
        }
      }
    }
  }
  .second-menu {
    width: 100%;
    .site-center {
      ul {
        padding: 10px 20px;
        li {
          a {
            font-size: 24px;
          }
        }
      }
    }
  }
  .grid-container-first {
    grid-template-columns: 1fr;
    margin-top: 10px;
    .category {
      .list-category {
        p {
          font-size: 24px;
          padding-left: 10px;
        }
        nav {
          padding-top: 10px;
          ul {
            padding: 10px 24px;
            li {
              font-size: 22px;
            }
          }
        }
        .best-seller {
          .fantasy-dress {
            p {
              width: 100%;
            }
          }
        }
        .last-figure {
          padding-left: 60px;
        }
        .button-shop-now {
          left: 115px;
        }
      }
    }
    .content-header {
      .navigation {
        flex-direction: column;
        margin-top: 10px;
        padding-left: 10px;
        .sort-by {
          font-size: 15px;
          form {
            select {
              font-size: 24px;
            }
          }
        }
        .pages {
          a {
            padding-right: 50px;
            font-size: 24px;
          }
          div {
            figure {
              img {
                margin-top: -5px;
                margin-left: 5px;
              }
            }
          }
        }
      }
      .sales {
        grid-template-columns: 1fr 1fr;
        padding-left: 60px;
      }
      .fashion-winter {
        display: none;
      }
    }
  }
  .service {
    padding-bottom: 15px;
    .grid-container {
      grid-template-columns: 1fr;
      .newsletter {
        padding: 10px;
        .caption {
          padding: 0;
        }
        .descriptions {
          font-size: 18px;
          line-height: 22px;
        }
        form {
          input {
            width: 100%;
          }
        }
      }
      .information {
        padding-left: 50px;
        .caption {
          padding: 0;
          width: 70%;
        }
        .menu {
          width: 70%;
          font-size: 18px;
        }
      }
    }
  }
  footer {
    .site-center {
      .flex-container {
        flex-direction: column;
        justify-content: flex-start;
      }
    }
  }
}


@media  screen and (max-width: 568px) {
  .grid-container-first {
    grid-template-columns: 1fr;
    margin-top: 10px;
    .category {
      .list-category {
        p {
          font-size: 24px;
          padding-left: 10px;
        }
        nav {
          padding-top: 10px;
          ul {
            padding: 10px 24px;
            li {
              font-size: 22px;
            }
          }
        }
        .best-seller {
          .fantasy-dress {
            p {
              width: 100%;
            }
          }
        }
        .last-figure {
          padding-left: 60px;
        }
        .button-shop-now {
          left: 115px;
        }
      }
    }
    .content-header {
      .navigation {
        flex-direction: column;
        margin-top: 10px;
        padding-left: 10px;
        .sort-by {
          font-size: 15px;
          form {
            select {
              font-size: 24px;
            }
          }
        }
        .pages {
          a {
            padding-right: 50px;
            font-size: 24px;
          }
          div {
            figure {
              img {
                margin-top: -5px;
                margin-left: 5px;
              }
            }
          }
        }
      }
      .sales {
        grid-template-columns: 1fr;
        padding-left: 60px;
      }
      .fashion-winter {
        display: none;
      }
    }
  }
}



/*styles for tablets*/
@media only screen
and (min-width: 768px)
and (max-width: 1024px) {
  header {
    .grid {
      grid-template-columns: 1fr;
      .logo {
        p {
          text-align: center;
        }
      }
      .menu-header {
        .menu-header-top {
          p {
            font-size: 16px;
            padding: 10px;
            margin: 0;
          }
          figure {
            margin: 10px;
          }
          .menu {
            padding: 10px;
            li {
              a {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
  .second-menu {
    .site-center {
      ul {
        padding: 10px 20px;
          li {
            a {
              font-size: 24px;
            }
          }
      }
    }
  }
  .grid-container-first {
    grid-template-columns: 1fr;
    margin-top: 10px;
      .category {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
          .list-category {
            padding-left: 20px;
              p {
                font-size: 18px;
              }
            ul {
              li {
                font-size: 20px;
              }
            }
            .last-figure {
              display: none;
            }
            .button-shop-now {
              display: none;
            }
          }
      }
      .content-header {
        .fashion-winter {
        }
        .navigation {
          justify-content: space-around;
          margin-top: 15px;
            .pages {
              div {
                figure {
                  img {
                    margin-left: 5px;
                    margin-bottom: 8px;
                  }
                }
              }
            }
        }
        .sales {
          grid-template-columns: repeat(3, 1fr);
          padding: 10px;
          .hover-image {
            padding: 0;
          }
        }
      }
  }
  .service {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
      padding: 10px;
      .newsletter {
        .caption {
          padding: 0;
        }
        .descriptions {
          font-size: 15px;
        }
      }
      .information {
        .caption {
          font-size: 15px;
          padding: 0;
        }
        .menu {
          font-size: 15px;
        }
      }
    }
  }
}